@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top_head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

img{
    width: 60px;
    height: auto;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tablinks {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ddd;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}
